.get-started-data-buyer:hover .block-text {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  opacity: 1;
}
.get-started-data-buyer:hover .block-title {
  background: linear-gradient(219.37deg, #ff9a62 13.85%, #ff507a 88.05%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}
