.device-manufacturers-bg3 {
  background-image: url("https://www.vyvo.com/_next/static/media/device-man-bg3.b097cc33.png");
  height: 550px;
}

.device-manufacturers-bg,
.device-manufacturers-bg3 {
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media (min-width: 1280px) {
  .device-manufacturers-bg3 {
    background-image: url("https://www.vyvo.com/_next/static/media/device-man-bg3.b097cc33.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 550px;
  }
}
