.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.button-header {
  opacity: 0;
  transform: translate(100%, -100%) scale(0);
  animation: slideAndGrow 1s ease-in-out forwards;
}
:focus-visible {
  outline: 0 solid #000;
}
button {
  background: transparent;
  padding: 0px;
}

.animate-ease-in {
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
} 
.animate-fade-left {
  animation: fade-left 1s both;
}
@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(2rem rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
