.vsc-basics-bg-2 {
  background-image: url("https://www.vyvo.com/_next/static/media/vsc-basics-bg-2.98e01554.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
